*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}

h1{
    text-align: center;
    background-color: black;
    color: antiquewhite;
    font-size: 5rem;

}

.main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 100%;
    background: linear-gradient( 155deg, #21f0f3, #b11d67);
}

#input-box{
    font-size: 3rem;
    text-align: center;
    border-radius: 2%;
    outline: none;
    border: none;
    width: 25rem;
    height: 4rem;
}

.btn{
    border: none;
    width: 13rem;
    height: 4rem;
    font-weight: bold;
    color: #777;
    background-color: #222;
}

.display{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    background-color:#222;
}

.screen{
    width: 8rem;
    height: 7rem;
    background-color: white;
    color: black;
    font-size: 5rem;
    text-align: center;
}